*{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	transition: all 0.1s ease-in;
}

body {
	background-color:$color-dark-bg;
}

.component-container {
	display: flex;
	justify-content: space-between;
}